@font-face {
    font-family: "Pokemon-GB";
    src: url("../assets/pokemon-gb-font.ttf");
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
} 

body {
    background-image: url("../assets/floor_tile_32.png");
    font-family: "Pokemon-GB";
    color: white;
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    padding: 10px 0 10px 0;
    align-items: center;
}

main img {
    width: 25vw;
}

footer {
    text-align: right;
    padding: 50px;
    font-size: 0.5rem;
}

#pokemon {
    display: flex;
    justify-content: center;
}

#oak {
    width: 120px;
    padding: 20px;
    transform: scaleX(-1);
}

.selected {
    animation: bounce;
    animation-duration: 1s;
}

.bounce {
    animation-name: bounce;
}
